<div class="profile-card">
  <div class="profile-img">
   <img src="/foto.png" alt="Luis Enrique">.
  </div>
  
  <h2>Luis Enrique</h2>
  <p class="role">Desarrollador Full Stack</p>

 <p class="description">
    Desarrollador Full Stack con experiencia en automatización de procesos y aplicaciones corporativas. Autodidacta, apasionado por el Backend y la Inteligencia Artificial.
  </p>
  
 <a href="/CV.pdf" download="CV_Luis_Enrique.pdf" class="btn-primary" style="display: block; text-decoration: none; box-sizing: border-box;" title="Descargar CV">📄 Descargar CV</a>
  <div class="social-links">
    <!-- Tu LinkedIn real -->
    <a href="https://www.linkedin.com/in/linfanteedev/" target="_blank" title="LinkedIn">💼</a>
    
    <!-- Tu GitHub -->
    <a href="https://github.com/LinfanteeDev" target="_blank" title="GitHub">🐙</a>
    
    <!-- Tu correo real con mailto: para que abra el cliente de correo -->
    <a href="mailto:lenriqueinfantegonzalez@gmail.com" title="Enviar Email">✉️</a>
  </div>
</div>